<html>
	<head>
		<meta charset = "UTF-8">
		<title>Lab 3 Vue Simple Data Table (static)</title>
		<link rel = "stylesheet" href = "./style.css">
	</head>
	
	<body>
		<div id = "app">
			<table>
				<tr>
					<th v-for="(col, type) in columns" v-on:click="sortRow(type)">
						{{col}} <div v-bind:class="arrow" v-if="type == sortedColBy"></div>
					</th>
				</tr>
				<tr v-for="row in rows">
					<td>{{row.id}}</td>
					<td>{{row.name}}</td>
					<td>{{row.phone}}</td>
				</tr>
			</table>
		</div>

		<script src = "https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					arrow: {
						'arrow-up': false,
						'arrow-down': false
					},
					columns: {
						id: 'ID',
						name: 'Full Name',
						phone: 'Phone'
					},
					rows: [],
					sortedColBy: ''
				},
				created:function() {
					fetch('https://jsonplaceholder.typicode.com/users')
					.then(response => response.json())
					.then (json => {
						this.rows = json;
					})
				},
				methods: {
					sortRow:function(key) {
						if(key != this.sortedColBy || !this.arrow["arrow-up"]) {
							sorted = this.rows.sort(function(a, b) {
								return a[key] > b[key] ? 1 : -1;
							})
							this.sortedColBy = key
							this.arrow["arrow-up"] = true
							this.arrow["arrow-down"] = false
						} else {
							sorted = this.rows.sort(function(a, b) {
								return a[key] > b[key] ? -1 : 1;
							})
							this.sortedColBy = key
							this.arrow["arrow-up"] = false
							this.arrow["arrow-down"] = true
						}
					}
				}
			});
		</script>

	</body>
</html>
